* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: "Rubik", sans-serif, sans-serif;
}

/*LAYOUT START*/
.wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(20px, 200px) minmax(300px, 1300px) minmax(20px, 200px);
      grid-template-columns: minmax(20px, 200px) minmax(300px, 1300px) minmax(20px, 200px);
  -ms-grid-rows: 100px (auto)[8];
      grid-template-rows: 100px repeat(8, auto);
      grid-template-areas: '. header .' '. hero .' '. features .' '. download .' '. faq .' 'contact contact contact' 'footer footer footer';
  place-content: center;
}

.wrapper header {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header;
}

.wrapper .hero {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: hero;
}

.wrapper .features {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: features;
}

.wrapper .download {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: download;
}

.wrapper .faq {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: faq;
}

.wrapper .contact {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: contact;
}

.wrapper footer {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: footer;
}

.hero,
.features,
.download,
.faq {
  margin-top: 50px;
  margin-bottom: 100px;
}

/*LAYOUT END*/
/*TYPOGRAPHY START*/
h1,
h2,
h3,
h4,
p {
  text-align: center;
}

h1 {
  line-height: 40px;
  padding-bottom: 20px;
}

h2 {
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 52px;
  text-align: center;
}

h3 {
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 52px;
  text-align: center;
}

h4 {
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 52px;
  text-align: center;
}

p {
  line-height: 25px;
  padding-bottom: 20px;
  max-width: 350px;
  margin: 0 auto;
  color: #242a45;
  text-align: center;
}

/*TYPOGRAPHY END*/
/*BUTTONS START*/
button {
  cursor: pointer;
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif, sans-serif;
  line-height: 1;
  background: transparent;
  -webkit-appearance: none;
}

.myBtn {
  background-color: #5267df;
  border: #5267df 2px solid;
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  padding: 10px;
  border-radius: 5px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.myBtn:hover {
  background-color: white;
  border: #5267df 2px solid;
  color: #5267df;
}

.btn-gray {
  background-color: #f3f3f3d2;
  border: #f3f3f3d2 2px solid;
  color: #242a45;
}

.btn-gray:hover {
  background-color: white;
  border: #242a45 2px solid;
  color: #242a45;
}

/*BUTTONS END*/
/**HEADER START*/
header {
  padding-top: 40px;
}

nav {
  display: none;
}

nav li {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
}

.toggle-btn {
  background: url(/images/icon-hamburger.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  width: 20px;
  height: 20px;
  float: right;
}

.mobile-header {
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  padding-left: 6%;
  padding-right: 6%;
  background-color: #252b46fa;
}

.mobile-header nav {
  margin-top: 50px;
  display: -ms-grid;
  display: grid;
}

.mobile-header a {
  display: -ms-grid;
  display: grid;
  place-content: center;
  color: white;
}

.mobile-header li {
  padding: 15px;
  border-top: #979797 1px solid;
}

.mobile-header .login {
  border: white 1px solid;
  padding: 15px;
  border-radius: 5px;
}

.mobile-header .header-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

.active {
  display: block;
}

.mobile-logo {
  -webkit-filter: invert(100%) hue-rotate(190deg) brightness(250%);
          filter: invert(100%) hue-rotate(190deg) brightness(250%);
}

.close-btn {
  background: url(/images/icon-close.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

/**HEADER END*/
/*HERO START*/
.hero {
  text-align: center;
}

.hero .myBtn {
  margin-right: 5px;
}

.hero .overlap {
  padding-top: 20px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  -ms-grid-columns: 110px minmax(100px, 280px);
      grid-template-columns: 110px minmax(100px, 280px);
  -ms-grid-rows: 70px 150px 50px;
      grid-template-rows: 70px 150px 50px;
      grid-template-areas: ' img img ' ' . blueback ';
}

.hero .overlap .overlap-img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: img;
}

.hero .overlap .overlap-background {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: blueback;
  background-color: #5267df;
  border-top-left-radius: 70px;
  border-bottom-left-radius: 70px;
  z-index: -100;
}

/*HERO END*/
/*FEATURES START */
.features {
  text-align: center;
}

.features-menu {
  display: -ms-grid;
  display: grid;
  margin-top: 25px;
  margin-bottom: 35px;
  place-content: center;
}

.features-menu .features-btn {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: #979797 solid 1px;
  width: 350px;
}

.features-menu .features-btn:first-child {
  border-top: #979797 solid 1px;
}

.features-menu .features-btn:hover, .features-menu .features-btn:focus {
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  -webkit-box-shadow: inset -8em 10px 0px -10px white, inset 8em 10px 0px -10px white, inset 0em -5px #fa5959;
          box-shadow: inset -8em 10px 0px -10px white, inset 8em 10px 0px -10px white, inset 0em -5px #fa5959;
  color: #fa5959;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/*FEATURES END*/
/*DOWNLOAD STARTS*/
.download {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.download .card {
  width: 280px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: white;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 8px 29px -25px #000000;
          box-shadow: 1px 8px 29px -25px #000000;
}

.download .myBtn {
  position: relative;
  margin-top: 20px;
}

.download .myBtn::before {
  content: '';
  position: absolute;
  background-image: url(../images/bg-dots.svg);
  background-repeat: no-repeat;
  width: 158%;
  height: 100%;
  top: -20px;
  left: -45px;
}

/*DOWNLOAD ENDS*/
/*FAQ STARTS*/
.faq {
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.faq .question {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: #979797 solid 1px;
  position: relative;
  font-weight: 500;
}

.faq .question:first-child {
  border-top: #979797 solid 1px;
}

.faq .question::after {
  content: '';
  position: absolute;
  display: block;
  width: 20px;
  height: 10px;
  top: 25px;
  left: 95%;
  background: url(/images/icon-arrow.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  -webkit-filter: brightness(130%) grayscale(100%) saturate(10%) contrast(0.9);
          filter: brightness(130%) grayscale(100%) saturate(10%) contrast(0.9);
  z-index: -10;
}

.faq .question:hover {
  color: #fa5959;
}

.faq .open-answer.question {
  color: #fa5959;
  font-weight: 600;
  border-bottom: none;
}

.faq .open-answer.question::after {
  -webkit-filter: brightness(70%) grayscale(0%) sepia(100%) hue-rotate(-50deg) saturate(650%) contrast(0.8);
          filter: brightness(70%) grayscale(0%) sepia(100%) hue-rotate(-50deg) saturate(650%) contrast(0.8);
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.faq .question,
.faq .answer {
  width: 300px;
}

.faq .answer {
  border-bottom: #979797 solid 1px;
  padding-bottom: 25px;
}

.faq .myBtn {
  margin-top: 25px;
  width: 115px;
  place-self: center;
}

/*FAQ ENDS*/
/*CONTACT STARTS*/
.contact {
  height: 400px;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
  padding-top: 20px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  background-color: #5267df;
}

.contact .contact-intro {
  padding-bottom: 30px;
}

.contact p {
  padding: 0;
  color: white;
  text-transform: uppercase;
}

.contact h2 {
  padding-top: 20px;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-content: center;
  padding-left: 40px;
  padding-right: 40px;
}

.contact .myBtn {
  background-color: white;
  color: #242a45;
  border: 2px solid white;
  margin-bottom: 10px;
}

.contact .myBtn:hover {
  color: #242a45;
}

.contact .mySubmit {
  background-color: #fa5959;
  border: 2px solid #fa5959;
  font-weight: 600;
  color: white;
}

.contact .mySubmit:hover {
  color: #fa5959;
  background: white;
  border-color: #fa5959;
}

/*CONTACT ENDS*/
/*FOOTER STARTS*/
footer {
  height: 300px;
  background-color: #242a45;
  padding-top: 25px;
}

footer .footer-menu {
  display: -ms-grid;
  display: grid;
  place-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

footer .footer-menu .footer-links {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer-menu .footer-links li {
  list-style-type: none;
  padding: 10px;
  text-align: center;
}

footer .footer-menu .footer-links li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #d8dae2;
}

footer .footer-menu .footer-links li a:hover {
  color: #fa5959;
}

footer .footer-menu .footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

footer .footer-menu .footer-social img:hover {
  cursor: pointer;
  -webkit-filter: brightness(40%) sepia(100%) hue-rotate(-40deg) saturate(500%) contrast(0.85);
          filter: brightness(40%) sepia(100%) hue-rotate(-40deg) saturate(500%) contrast(0.85);
}

/*FOOTER ENDS*/
@media only screen and (min-width: 750px) {
  h1 {
    font-size: 48px;
    line-height: 52px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 28px;
  }
  p {
    max-width: 500px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .toggle-btn {
    display: none;
  }
  header .header-social {
    display: none;
  }
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #242a45;
    letter-spacing: 1.5px;
    line-height: 17px;
    font-size: 13px;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-top: 2px;
  }
  header nav ul a:hover {
    color: #fa5959;
  }
  header nav ul .login {
    background-color: #fa5959;
    padding: 10px;
    border: #fa5959 2px solid;
    border-radius: 5px;
    color: white;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }
  header nav ul .login:hover {
    background-color: white;
  }
  .features {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .features .features-menu {
    -ms-grid-columns: 200px 200px 200px;
        grid-template-columns: 200px 200px 200px;
    place-content: center;
  }
  .features img {
    min-width: 400px;
    height: auto;
  }
  .features .features-btn {
    width: 200px;
  }
  .features .features-btn:first-child {
    border-top: none;
  }
  .features .features-btn:hover, .features .features-btn:focus {
    -webkit-box-shadow: inset 0px -5px #fa5959;
            box-shadow: inset 0px -5px #fa5959;
  }
  .features .myBtn {
    width: 100px;
  }
  .faq {
    place-content: center;
  }
  .faq h2 {
    width: 500px;
  }
  .faq .faq-intro {
    width: 500px;
  }
  .faq .question,
  .faq .answer {
    width: 500px;
  }
  .contact form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact form .myBtn {
    margin-right: 10px;
  }
  footer {
    height: 100px;
  }
  footer .footer-menu {
    -ms-grid-columns: 1fr 2fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
    -ms-grid-rows: 25px;
        grid-template-rows: 25px;
    padding-left: 100px;
  }
  footer .footer-menu .footer-logo {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  footer .footer-menu .footer-links {
    padding: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  footer .footer-menu .footer-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-item-align: center;
        align-self: center;
    justify-self: center;
  }
}

@media only screen and (min-width: 1400px) {
  h1 {
    text-align: left;
  }
  button {
    font-size: 18px;
  }
  .hero {
    display: -ms-grid;
    display: grid;
    height: 600px;
        grid-template-areas: 'text image';
    text-align: left;
  }
  .hero .hero-text {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: text;
    place-self: center left;
    width: 500px;
  }
  .hero .hero-text p {
    text-align: left;
  }
  .hero .overlap {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: image;
    padding-top: 20px;
    display: -ms-grid;
    display: grid;
    place-content: center;
    -ms-grid-columns: 150px minmax(100px, 340px);
        grid-template-columns: 150px minmax(100px, 340px);
    -ms-grid-rows: 150px 200px;
        grid-template-rows: 150px 200px;
        grid-template-areas: ' img img ' '. blueback';
  }
  .hero img {
    place-self: center;
    max-width: 600px;
    width: 100%;
    height: auto;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .hero p {
    font-size: 18px;
    line-height: 28px;
    margin: 0;
  }
  .hero .myBtn {
    line-height: 28px;
    letter-spacing: 0.25;
  }
  .features .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
  }
  .features .content-text {
    text-align: left;
  }
  .features .content-text h3,
  .features .content-text p {
    text-align: left;
  }
  .download .card-container {
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  .download .card-container .chrome {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .download .card-container .firefox {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .download .card-container .opera {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .footer-social {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
/*# sourceMappingURL=styles.css.map */