//Color Palette
$clr-main-warm: #fa5959;
$clr-main-light: #5267df;
$clr-main-dark: #242a45;
$clr-main-gray: #d8dae2;
$clr-light-gray: #f3f3f3d2;

//Typography
$ff-main: 'Rubik', sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: $ff-main, sans-serif;
}

/*LAYOUT START*/
.wrapper {
  display: grid;
  grid-template-columns: minmax(20px, 200px) minmax(300px, 1300px) minmax(
      20px,
      200px
    );
  grid-template-rows: 100px repeat(8, auto);
  grid-template-areas:
    '. header .'
    '. hero .'
    '. features .'
    '. download .'
    '. faq .'
    'contact contact contact'
    'footer footer footer';
  place-content: center;

  header {
    grid-area: header;
  }

  .hero {
    grid-area: hero;
  }

  .features {
    grid-area: features;
  }

  .download {
    grid-area: download;
  }

  .faq {
    grid-area: faq;
  }

  .contact {
    grid-area: contact;
  }

  footer {
    grid-area: footer;
  }
}

.features,
.download,
.faq {
  margin-top: 50px;
  margin-bottom: 70px;
}

.features-intro,
.download-intro,
.faq-intro {
  margin-bottom: 30px;
}

/*LAYOUT END*/

/*TYPOGRAPHY START*/
h1,
h2,
h3,
h4,
p {
  text-align: center;
}

h1 {
  line-height: 40px;
  padding-bottom: 20px;
}

h2 {
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 52px;
  text-align: center;
}

h3 {
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 52px;
  text-align: center;
}

h4 {
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 52px;
  text-align: center;
}

p {
  line-height: 25px;
  padding-bottom: 20px;
  max-width: 350px;
  margin: 0 auto;
  color: #242a45;
  text-align: center;
}
/*TYPOGRAPHY END*/

/*BUTTONS START*/
//Style the button to look like a div
button {
  cursor: pointer;
  display: inline-block;
  border: none;
  margin: 0;
  padding: 0;
  font-family: $ff-main, sans-serif;
  line-height: 1;
  background: transparent;
  -webkit-appearance: none;
}

//Style of the buttons on the page
.myBtn {
  background-color: $clr-main-light;
  border: $clr-main-light 2px solid;
  cursor: pointer;
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

  &:hover {
    background-color: white;
    border: $clr-main-light 2px solid;
    color: $clr-main-light;
  }
}

.btn-gray {
  background-color: $clr-light-gray;
  border: $clr-light-gray 2px solid;
  color: $clr-main-dark;

  &:hover {
    background-color: white;
    border: $clr-main-dark 2px solid;
    color: $clr-main-dark;
  }
}
/*BUTTONS END*/

/**HEADER START*/
header {
  padding-top: 40px;
}

nav {
  display: none;

  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
  }
}

.toggle-btn {
  background: url(/images/icon-hamburger.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  width: 20px;
  height: 20px;
  float: right;
}

.mobile-header {
  top: 0;
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  padding-left: 6%;
  padding-right: 6%;
  background-color: #252b46fa;

  nav {
    margin-top: 50px;
    display: grid;
  }

  a {
    display: grid;
    place-content: center;
    color: white;
  }

  li {
    padding: 15px;
    border-top: #979797 1px solid;
  }

  .login {
    border: white 1px solid;
    padding: 15px;
    border-radius: 5px;
  }

  .header-social {
    display: flex;
    justify-content: center;
    gap: 40px;
  }
}

.active {
  display: block;
}

.mobile-logo {
  filter: invert(100%) hue-rotate(190deg) brightness(250%);
}

.close-btn {
  background: url(/images/icon-close.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  width: 20px;
  height: 20px;
}
//HEADER - MOBILE CLASSES END
/**HEADER END*/

/*HERO START*/
.hero {
  text-align: center;

  .myBtn {
    margin-right: 5px;
  }

  .overlap {
    padding-top: 20px;
    display: grid;
    place-content: center;
    grid-template-columns: 110px minmax(100px, 280px);
    grid-template-rows: 70px 150px 10px;
    grid-template-areas:
      ' img img '
      ' . blueback ';
    .overlap-img {
      grid-area: img;
    }

    .overlap-background {
      grid-area: blueback;
      background-color: $clr-main-light;
      border-top-left-radius: 70px;
      border-bottom-left-radius: 70px;
      z-index: -100;
    }
  }
}
/*HERO END*/

/*FEATURES START */
.features {
  text-align: center;
}

.features-menu {
  display: grid;
  margin-top: 25px;
  margin-bottom: 35px;
  place-content: center;

  .features-btn {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: #979797 solid 1px;
    width: 350px;

    &:first-child {
      border-top: #979797 solid 1px;
    }

    &:hover,
    &:focus {
      /* offset-x | offset-y | blur-radius | spread-radius | color */
      box-shadow: inset -8em 10px 0px -10px white,
        inset 8em 10px 0px -10px white, inset 0em -5px $clr-main-warm;
      color: $clr-main-warm;
    }
  }
}
.show {
  display: block;
}

.hide {
  display: none;
}
/*FEATURES END*/

/*DOWNLOAD STARTS*/
.download {
  display: grid;
  place-items: center;
  .card {
    width: 280px;
    display: grid;
    place-items: center;
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 1px 8px 29px -25px #000000;
  }

  .myBtn {
    position: relative;
    margin-top: 20px;

    &::before {
      content: '';
      position: absolute;
      background-image: url(../images/bg-dots.svg);
      background-repeat: no-repeat;
      width: 158%;
      height: 100%;
      top: -20px;
      left: -45px;
    }
  }
}
/*DOWNLOAD ENDS*/

/*FAQ STARTS*/
.faq {
  display: grid;
  place-content: center;

  .question {
    text-align: left;
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: #979797 solid 1px;
    position: relative;
    font-weight: 500;

    &:first-child {
      border-top: #979797 solid 1px;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 20px;
      height: 10px;
      top: 25px;
      left: 95%;
      background: url(/images/icon-arrow.svg);
      background-repeat: no-repeat;
      background-size: 70%;
      filter: brightness(130%) grayscale(100%) saturate(10%) contrast(0.9);
      z-index: -10;
    }

    &:hover {
      color: $clr-main-warm;
    }
  }

  .open-answer.question {
    color: $clr-main-warm;
    font-weight: 600;
    border-bottom: none;
    &::after {
      filter: brightness(70%) grayscale(0%) sepia(100%) hue-rotate(-50deg)
        saturate(650%) contrast(0.8);
      transform: rotateX(180deg);
    }
  }

  .question,
  .answer {
    width: 300px;
  }

  .answer {
    border-bottom: #979797 solid 1px;
    padding-bottom: 25px;
  }
  .myBtn {
    margin-top: 25px;
    width: 115px;
    place-self: center;
  }
}
/*FAQ ENDS*/

/*CONTACT STARTS*/
.contact {
  height: 400px;
  padding-left: 5%;
  padding-right: 5%;
  color: white;
  padding-top: 20px;
  display: grid;
  place-content: center;
  background-color: $clr-main-light;

  .contact-intro {
    padding-bottom: 30px;
  }
  p {
    padding: 0;
    color: white;
    text-transform: uppercase;
  }

  h2 {
    padding-top: 20px;
  }

  form {
    display: flex;
    flex-direction: column;
    place-content: center;
    padding-left: 40px;
    padding-right: 40px;

    &--error {
      color: green;
    }
  }

  .myBtn {
    background-color: white;
    color: $clr-main-dark;
    border: 2px solid white;
    margin-bottom: 10px;
    &:hover {
      color: $clr-main-dark;
    }
  }

  .mySubmit {
    background-color: $clr-main-warm;
    border: 2px solid $clr-main-warm;
    font-weight: 600;
    color: white;
    &:hover {
      color: $clr-main-warm;
      background: white;
      border-color: $clr-main-warm;
    }
  }
}
/*CONTACT ENDS*/

/*FOOTER STARTS*/
footer {
  height: 300px;
  background-color: $clr-main-dark;
  padding-top: 25px;

  .footer-menu {
    display: grid;
    place-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

    .footer-links {
      padding: 20px;
      display: flex;
      li {
        list-style-type: none;
        padding: 10px;
        text-align: center;
        a {
          text-decoration: none;
          text-transform: uppercase;
          color: $clr-main-gray;

          &:hover {
            color: $clr-main-warm;
          }
        }
      }
    }

    .footer-social {
      display: flex;
      gap: 25px;
      justify-content: center;
      align-content: space-between;

      & img:hover {
        cursor: pointer;
        filter: brightness(40%) sepia(100%) hue-rotate(-40deg) saturate(500%)
          contrast(0.85);
      }
    }
  }
}
/*FOOTER ENDS*/

@media only screen and (min-width: 750px) {
  h1 {
    font-size: 48px;
    line-height: 52px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 28px;
  }

  p {
    max-width: 500px;
  }

  header {
    display: flex;
    justify-content: space-between;

    .toggle-btn {
      display: none;
    }

    .header-social {
      display: none;
    }

    nav {
      display: flex;
      color: $clr-main-dark;
      letter-spacing: 1.5px;
      line-height: 17px;
      font-size: 13px;

      ul {
        display: flex;
        width: 400px;
        justify-content: space-around;
        padding-top: 2px;

        a:hover {
          color: $clr-main-warm;
        }
        .login {
          background-color: $clr-main-warm;
          padding: 10px;
          border: $clr-main-warm 2px solid;
          border-radius: 5px;
          color: white;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
            rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        }

        .login:hover {
          background-color: white;
        }
      }
    }
  }

  .features {
    display: grid;
    place-content: center;

    .features-menu {
      grid-template-columns: 200px 200px 200px;
      place-content: center;
    }

    img {
      min-width: 400px;
      height: auto;
    }

    .features-btn {
      width: 200px;
      &:first-child {
        border-top: none;
      }

      &:hover,
      &:focus {
        box-shadow: inset 0px -5px $clr-main-warm;
      }
    }

    .myBtn {
      width: 100px;
    }
  }

  .faq {
    place-content: center;
    h2 {
      width: 500px;
    }
    .faq-intro {
      width: 500px;
    }

    .question,
    .answer {
      width: 500px;
    }
  }

  .contact {
    form {
      flex-direction: row;
      .myBtn {
        margin-right: 10px;
      }
    }
  }

  footer {
    height: 100px;
    .footer-menu {
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 25px;
      padding-left: 100px;
      .footer-logo {
        align-self: center;
      }
      .footer-links {
        padding: 0;
        align-self: center;

        ul {
          display: flex;
          align-self: center;
          justify-self: center;
        }
      }
    }
  }
}

@media only screen and (min-width: 1400px) {
  h1 {
    text-align: left;
  }
  button {
    font-size: 18px;
  }

  .hero {
    display: grid;
    height: 600px;
    grid-template-areas: 'text image';
    text-align: left;

    .hero-text {
      grid-area: text;
      place-self: center left;
      width: 500px;

      p {
        text-align: left;
      }
    }

    .overlap {
      grid-area: image;
      padding-top: 20px;
      display: grid;
      place-content: center;
      grid-template-columns: 150px minmax(100px, 340px);
      grid-template-rows: 150px 200px;
      grid-template-areas:
        ' img img '
        '. blueback';
    }

    img {
      place-self: center;
      max-width: 600px;
      width: 100%;
      height: auto;
      object-fit: contain;
    }

    p {
      font-size: 18px;
      line-height: 28px;
      margin: 0;
    }

    .myBtn {
      line-height: 28px;
      letter-spacing: 0.25;
    }
  }

  .features {
    .content {
      display: flex;
      gap: 40px;
    }

    .content-text {
      text-align: left;
      & h3,
      & p {
        text-align: left;
      }
    }
  }

  .download {
    .card-container {
      height: 400px;
      display: flex;
      gap: 20px;
      .chrome {
        align-self: flex-start;
      }

      .firefox {
        align-self: center;
      }

      .opera {
        align-self: flex-end;
      }
    }
  }

  .footer-social {
    justify-content: space-between;
  }
}
